<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.product._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.product.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.productForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>


         <div class="form-group">
            <label class="control-label" id="category" for="category">Enter category(s)</label><br>
            <input class="form-control" data-ng-model="vm.product.category" type="text" placeholder="Category1, Category2, Category3" format="number" />
        </div>
         


        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.product.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
      


        <div class="form-group">
          <label for="image">Featured Image </label>
          <button type="button" class="btn btn-secondary" type="file"
            ngf-select="uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-size="1MB">
            {{vm.product.productImageURL ? 'Update Image' : 'Create Image'}}</button>
          <div class="text-center" ng-show="vm.product.productImageURL" >
            <img ng-src="{{vm.product.productImageURL}}" ngf-thumbnail="vm.product.productImageURL" class="thumb"/>
          </div>
          <div class="text-center" ng-show="vm.product.productImageURL">
            <button type="button" class="btn btn-secondary" ng-click="vm.product.productImageURL = null" >Remove</button>
          </div>
        </div>

        <div class="form-group">
            <label class="control-label" id="cost" for="cost">Enter Cost</label>
            <input type="number" placeholder="142.23" data-ng-model="vm.product.cost" format="currency" />
        </div>

        <div class="form-group">
            <label ass="control-label" placeholder="23" id="quantity" for="quantity">Enter Quantity</label>
            <input type="number" data-ng-model="vm.product.quantity" format="number" />
        </div>
         


        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
        </div>



      </fieldset>
    </form>
  </div>
</section>
